<% provide(:title, '目標編集') %>
<h1>目標編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12">
    <%= form_with(model: @target, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :target %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :task %>
      <%= f.text_field :task, class: 'form-control' %>
      
      <%= f.label :deadline %>
      <%= f.number_field :deadline, class: 'form-control' %>
      
      <%= f.label :kpi %>
      <%= f.number_field :kpi, class: 'form-control' %>
      
      <%= f.submit "編集", class: 'btn btn-promary' %>
    <% end %>
    
  </div>
  
</div>

<p><%= link_to "Home", root_path %></p>
