<% provide(:title, '新規作成') %>
<h1>新規目標</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12">
    <%= form_with(model: @target, local: true) do |f| %>
      
      <%= f.label :target %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :task %>
      <%= f.text_field :task, class: 'form-control' %>
      
      <%= f.label :deadline %>
      <%= f.text_field :deadline, class: 'form-control' %>
      
      <%= f.label :kpi %>
      <%= f.number_field :kpi, class: 'form-control' %>
      
      <%= f.submit "登録", class: 'btn btn-promary' %>
    <% end %>
  </div>
  
</div>

<p><%= link_to "Home", root_path %></p>